*.bit
*.csv
*.html
*.ngc
*.map
*.bgn
*.bld
*.drc
*.lso
*.mrp
*.ncd
*.ncm
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.srp
*.txt
*.unroutes
webtalk.log
*.xml
*.xwbt
*.xpi
*.xrpt
board/
_ngo/
_xmsgs/
xst/
xlnx_auto_0_xdb/
